.side-container {
  overflow: auto;
  height: 100vh;
  position: fixed;
  left: 0;

  .logo {
    margin-bottom: 60px;
    padding: 30px 10px 10px 10px;

    .side-logo {
      width: 80px;
    }
  }

  .sidebar-menu {
    .sidebar-item {
      text-align: center;
      height: 60px;
      padding: 10px 16px !important;
      line-height: 20px;

      .side-item-icon {
        display: block;
        margin: 0;
        font-size: 24px;
      }

      span {
        font-size: 10px;
      }
    }
  }
}
